
	



.row{
	display:flex;
	flex:row;
}

.col1 {
	width:500px;
	height:400px;
   background: rgb(34,193,195);
   background: linear-gradient(0deg, rgba(34,193,195,1) 0%,  rgba(253,187,45,1) 100%);
   margin-left:50px;
   margin-right:50px;
   border-radius:20px;
   
}

.col2{
	width:500px;
	height:400px;
	background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	margin-left:50px;
	margin-right:50px;
	border-radius:20px;
}

.col3{
	width:500px;
	height:400px;
	background: rgb(63,94,251);
    
	
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, 
	rgba(70,252,179,1) 100%);
	border-radius:20px;
}
.col1,.col2,.col3{
	 font-family:monspace;
	
}

h1{
	text-align:center;
    animation:mymove 2s infinite;	
	color:red;
	
}
@keyframes mymove{50%{color:gold;}}

h2{
	font-family:cursive;
	text-align:center;
	
}
h2{
	text-align:center;
	animation:mymove 5
	s infinite;	
	color:blue;
	
}ss
@keyframes mymove{50%{color:gray;}}